= form_for(@ticket, :html => { class: 'form-horizontal', role: 'form' }) do |f|
  .form-group
    - if @ticket.errors.any?
      #error_explanation
        %h2
          = pluralize(@ticket.errors.count, "error")
          prohibited this ticket from being saved:
        %ul
          - @ticket.errors.full_messages.each do |msg|
            %li= msg
  -# - if @whois == :customer
  -# debugger
  .form-group.col-lg-4
    = f.label :customer_name
    = f.text_field :customer_name, (@ticket.uniq_reference.nil?) ? {cols: '20', class: 'form-control'} : {disabled:'disabled', class: 'form-control'}
    %br/
    = f.label :customer_email
    = f.text_field :customer_email, (@ticket.uniq_reference.nil?) ? {cols: '20', class: 'form-control'} : {disabled:'disabled', cols: '20', class: 'form-control'}
    %br/
    = f.label :subject
    = f.text_field :subject, (@whois == :staff) ? {disabled:'disabled',  cols: '20', class: 'form-control'} : { cols: '20', class: 'form-control'}
    - if @whois == :staff
      %br/
      = f.label :uniq_reference
      = f.text_field :uniq_reference, disabled: 'disabled',  cols: '20', class: 'form-control'
      %br/
      = f.label :ticket_status
      -#= f.text_field :ticket_status, cols: '30'
      -#= select_tag(:ticket_status, options_for_select([['Waiting for Customer'], ['On Hold'], ['Cancelled'], ['Completed']]), class: 'form-control')
      = f.select(:ticket_status, options_for_select([['Waiting for Customer'], ['On Hold'], ['Cancelled'], ['Completed']]), class: 'form-control')
      %br/
      = f.label :ticket_interface
      = f.text_field :ticket_interface, cols: '30', disabled:'disabled', class: 'form-control'
      %br/
      = f.label :ownership
      -#= f.text_field :ownership, (@ticket.ownership) ? {disabled:'disabled'} : {disabled: 'disabled', hidden: 'true'}
      = f.text_field :ownership, class: 'form-control'
    %br/
    = f.label :ticket_body
    = f.text_area :ticket_body, (@whois == :staff) ? {disabled:'disabled', rows: '5',cols: '30', class: 'form-control'} : {rows: '10', class: 'form-control'}
    - if @whois == :staff
      %br/
      = f.label :response
      = f.text_area :response, class: 'form-control'
    %br/
    = f.submit 'Update Ticket', class: 'btn btn-default'
