<h1>Listing tickets</h1>

<table>
  <thead>
    <tr>
      <th>Customer name</th>
      <th>Customer email</th>
      <th>Uniq reference</th>
      <th>Ticket status</th>
      <th>Ticket interface</th>
      <th>Ticket body</th>
      <th>Ownership</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.customer_name %></td>
        <td><%= ticket.customer_email %></td>
        <td><%= ticket.uniq_reference %></td>
        <td><%= ticket.ticket_status %></td>
        <td><%= ticket.ticket_interface %></td>
        <td><%= ticket.ticket_body %></td>
        <td><%= ticket.ownership %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
