<p id="notice"><%= notice %></p>

<p>
  <strong>Customer name:</strong>
  <%= @ticket.customer_name %>
</p>

<p>
  <strong>Customer email:</strong>
  <%= @ticket.customer_email %>
</p>

<p>
  <strong>Uniq reference:</strong>
  <%= @ticket.uniq_reference %>
</p>

<p>
  <strong>Ticket status:</strong>
  <%= @ticket.ticket_status %>
</p>

<p>
  <strong>Ticket interface:</strong>
  <%= @ticket.ticket_interface %>
</p>

<p>
  <strong>Ticket body:</strong>
  <%= @ticket.ticket_body %>
</p>

<p>
  <strong>Ownership:</strong>
  <%= @ticket.ownership %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
