.well.well-small
  .page-header
    .col-lg-1
    %h1
      Support Issue Tracker
      %small Show Page
.container
  .col-lg-12
    / Body content
    %p#notice= notice
    %p
      %strong Customer name:
      = @ticket.customer_name
    %p
      %strong Customer email:
      = @ticket.customer_email
    %p
      %strong Subject:
      = @ticket.subject
    %p
      %strong Uniq reference:
      = @ticket.uniq_reference
    %p
      %strong Ticket status:
      = @ticket.ticket_status
    %p
      %strong Ticket interface:
      = @ticket.ticket_interface
    %p
      %strong Ownership:
      = @ticket.ownership
    %p
      %strong Ticket body:
      = @ticket.ticket_body
    %p
      %strong Response:
      = @ticket.response
    = link_to 'Edit', edit_ticket_path(@ticket)
    |
    \#{link_to 'Back', tickets_path}
