.well.well-small
  .page-header
    .col-lg-1
    %h1
      Support Issue Tracker
      %small Staff Page
.container
  .col-lg-2
  .col-lg-10
  / Body content
  %table.table.table-hover
    %thead
      %tr
        %th
        %th Name
        %th Email
        %th Subject
        %th Status
        %th Interface
    %tbody
      - @tickets.each_with_index do |ticket, i|
        %tr{class: cycle('active', 'success', 'info'), onclick: "document.location = '#{edit_ticket_path(ticket)}'"}
          %td= i+1
          %td= ticket.customer_name
          %td= ticket.customer_email
          %td= %Q{#{truncate("#{ticket.subject}", length: 20)}}
          %td= ticket.ticket_status
          %td= ticket.ticket_interface

  = link_to 'Back', tickets_path
